<div class="row">
  <h1>BricGis Module</h1>
</div>
<div class="row">
  <h2>Description</h2>
  <p>BricGisModule is an angular2 component that simplify maps creation.</p>
  <p>
    It allows to easily add on an application :
  </p>
    <ul>
      <li>A map with different types of layers and interactions.</li>
      <li>A search address componant that allows the user to look for an address. It provides auto-completion.</li>
      <li>A table of content component that can be linked to the map to control layers transparency and visibility.</li>
    </ul>
</div>
<div class="row">
  <h2>Installation</h2>
  <p>
    <code>npm install bric-gis --save</code>
  </p>
</div>
<div class="row">
  <h2>Configuration</h2>
  <pre>
    <code [innerHTML]="moduleCode">
    </code>
  </pre>
</div>
<div class="row">
  <h2>Styling</h2>
  <p>In order to display the map correctly, the ol CSS must be added to the application.</p>
  <p>The CSS file can be found in <em>node_modules/openlayers/dist/ol.css</em></p>
</div>
<div class="row">
  <h2>Example</h2>
  <bric-address-search></bric-address-search>
</div>